---
---

<h1 class="title is-2" id="frameworksTitle">I make websites!:</h1>

	
<div id="frameworks">
    Email:
    <br/>
    <a href="mailto:miczicontent@gmail.com">miczicontent@gmail.com</a>
</div>

<style>
    #frameworks{
        text-align: center;
	}
	
	#frameworksTitle{
		text-align: center;
	}
</style>