---
import Basketball from "./other-hobbies/Basketball.svelte";
import Chess from "./other-hobbies/Chess.svelte";
import Nba from "./other-hobbies/Nba.svelte";
import Videogames from "./other-hobbies/Videogames.svelte";
---

<h1 id="frameworksTitle">Platforms on witch i host:</h1>
	
<div id="frameworks">
    <Videogames client:load/>
	<div style="margin-right: 2rem;"></div>
    <Chess client:load/>
	<div style="margin-right: 2rem;"></div>
    <Basketball/>
	<div style="margin-right: 2rem;"></div>
    <Nba client:load/>
</div>

<style>
    #frameworks{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#frameworksTitle{
		text-align: center;
		margin-bottom: 3rem;
		margin-top: 3rem;
	}
</style>