---
import Calc from "./projects/Calc.svelte";
import GuessTheFlag from "./projects/GuessTheFlag.svelte";
import HufferPuff from "./projects/Hufferpuff.svelte"
import MakeALicense from "./projects/MakeALicense.svelte";
---


<HufferPuff client:load/>
<div style="margin-bottom: 2rem;"></div>
<Calc client:load/>
<div style="margin-bottom: 2rem;"></div>
<MakeALicense client:load/>
<div style="margin-bottom: 2rem;"></div>
<GuessTheFlag client:load/>