<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<slot/>

<div>
    <footer>
        Made with <a href="https://astro.build">astro</a>, <a href="https://svelte.dev">svelte</a> and <a href="https://bulma.io">bulma</a>
    </footer>
</div>

<style>
    div{
        font-size: small;
        text-align: center;
        margin-bottom: 1rem;
    }
</style>